/* 
    Document   : generic
    Created on : 13 Sep, 2013, 11:33:41 PM
    Author     : vijay
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.custom-button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #d55510;
}

.fontStyle{
    -fx-font-size: 25;
    -fx-font-family: "Consolas";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3a3a3a;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-font-size: 18pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #d55500;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #3a3a3a;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}


.label {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    
}

.label-header {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    
}


.table-view {
  
  
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
  -fx-padding: 5;
}

.table-cell {
    -fx-font-size: 16px;
    -fx-font-color: #000000;
}


.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 22pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}


.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
}

.menu-bar .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.text-field {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Semibold";
}